<footer class="page-footer variant2 fullboxed">
    <div class="footer-top">
        <div class="container">
            <!-- newsletter -->
            <div class="newsletter variant2 row">
                <div class="col-sm-3"> <a href="/" title="Logo"><img src="{{ "footer_logo.png" | asset_url}}" alt="" class="img-responsive"></a> </div>
                <div class="col-sm-9">
                    {% include 'newsletter' %}
                </div>
            </div>
            <!-- /newsletter -->
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block  collapsed-mobile">
                        {{ settings.footer_2_col_1 }}
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block  collapsed-mobile">
                        {{ settings.footer_2_col_2 }}
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block  collapsed-mobile">
                        {{ settings.footer_2_col_3 }}
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="footer-block  collapsed-mobile">
                        {{ settings.footer_2_col_4 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="row">
                {% assign footer_col = 'col-md-6 col-lg-12' %}
                {% if settings.footer_banner_yes %}
                {% assign footer_col = 'col-md-6 col-lg-4' %}
                <div class="col-md-6 col-lg-8">
                    <div class="image-banner text-center"> <a href="#"> <img src="{{ "footer_banner.jpg" | asset_url}}" alt="" class="img-responsive"> </a> </div>
                </div>
                {% endif %}
                <div class="{{ footer_col }}">
                    <div class="bottom-space">
                        <div class="footer-copyright text-center"> &copy; {{ settings.copyright }} </div>
                        {% if settings.footer_show_methods_of_payment %}
                            <div class="footer-payment-link  text-center">
                                <a><img src="{{ 'icon-pay-1.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-2.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-3.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-4.png' | asset_url }}" alt=""></a>
                                <a><img src="{{ 'icon-pay-5.png' | asset_url }}" alt=""></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>