{% include 'global_vars' %}
<!-- Basic page needs ================================================== -->
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
<!-- Seiko Version 1.9.0 -->
<title>
    {{ page_title  }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
</title>
{% if page_description %}
    {% assign page_description = page_description | split:'[short_description]' | last | split:'[/short_description]' | first   | split:'|[config]|' | last   %}
    <meta name="description" content="{{ page_description  }}">
{% endif %}
<!-- Social meta ================================================== -->
{% include 'social-meta-tags' %}
<!-- Helpers ================================================== -->
<link rel="canonical" href="{{ canonical_url }}">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<!-- Vendor -->
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
{{ 'nouislider.css' | asset_url | stylesheet_tag }}
<!-- Custom -->
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'megamenu.css' | asset_url | stylesheet_tag }}
{{ 'tools.css' | asset_url | stylesheet_tag }}
{{ 'animate.css' | asset_url | stylesheet_tag }}
{{ 'darktooltip.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}
{% if rtl == 1 %}{{ 'style-rtl.css' | asset_url | stylesheet_tag }}{% endif %}
{{ 'custom_colors.css' | asset_url | stylesheet_tag }}
{{ 'custom.css' | asset_url | stylesheet_tag }}
<!-- Icon Font -->
{% include 'google-fonts' %}
{{ 'font-icomoon.css' | asset_url | stylesheet_tag }}
{{ 'html5shiv.min.js' | asset_url | script_tag }}
{{ 'respond.min.js' | asset_url | script_tag }}
{{ 'jquery.js' | asset_url | script_tag }}
{{ 'jquery.cookie.js' | asset_url | script_tag }}
{{ 'parallax.min.js' | asset_url | script_tag }}
{{ 'jquery.darktooltip.js' | asset_url | script_tag }}
{{ 'header-js.js' | asset_url | script_tag }}
{{ 'wish-list.js' | asset_url | script_tag }}
{{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
{{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
{{ 'jquery-scrollLock.min.js' | asset_url | script_tag }}
{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'jquery.countdown.min.js' | asset_url | script_tag }}
{{ 'tocca.js' | asset_url | script_tag }}
{{ 'megamenu.js' | asset_url | script_tag }}
{{ 'tools.js' | asset_url | script_tag }}
{{ 'jquery.ez-plus.js' | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'cart.min.js' | asset_url | script_tag }}

{% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}
{% if template contains 'product' %}
    {{ 'bootstrap-tabcollapse.js' | asset_url | script_tag }}
    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
{% endif  %}
{% if template contains 'collection' %}
    {{ 'nouislider.min.js' | asset_url | script_tag }}
{% endif  %}

{% if template contains 'page.gallery' %}

    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
{% endif  %}

<script type="text/javascript">
    locales={
        recently_added_items:"{{ 'general.theme.recently_added_items' | t }}",
        no_items_in_cart:"{{ 'general.theme.no_items_in_cart' | t }}",
        remove:"{{ 'cart.general.remove' | t }}",
        edit:"{{ 'general.theme.edit' | t }}",
        qty:"{{ 'cart.label.quantity' | t }}",
        apply:"{{ 'general.theme.apply' | t }}",
        added:"{{ 'general.theme.added' | t }}",
        add_to_cart:"{{ 'products.product.add_to_cart' | t }}",
        adding:"{{ 'general.theme.adding' | t }}"
    }
</script>

{% if template contains 'collection' %}

    <script>
        // product view mode
        function viewMode(viewmode) {
            var $grid = $('.grid-view', $(viewmode)),
                    $list = $('.list-view', $(viewmode)),
                    $products = $('.products-listview, .products-grid');
            if ($('.products-listview').length){
                $list.addClass('active');
            } else if ($('.products-grid').length){
                $grid.addClass('active');
            } else return false;
            $grid.on("click", function (e) {
                var $this = $(this);
                $products.addClass('no-animate');
                if(!$this.is('.active')){
                    $list.removeClass('active');
                    $this.addClass('active');
                    $products.removeClass('products-listview').addClass('products-grid');
                }
                setTimeout(function() {
                    $products.removeClass('no-animate');
                }, 500);
                e.preventDefault();
            });
            $list.on("click", function (e) {
                var $this = $(this);
                $products.addClass('no-animate');
                if(!$this.is('.active')){
                    $grid.removeClass('active');
                    $this.addClass('active');
                    $products.removeClass('products-grid').addClass('products-listview');
                }
                setTimeout(function() {
                    $products.removeClass('no-animate');
                }, 500);
                e.preventDefault();
            });
        }

        // price slider
        function priceSlider() {
            // price slider
            var priceSlider = document.getElementById('priceSlider');

            noUiSlider.create(priceSlider, {
                start: [200, 1500],
                connect: true,
                step: 1,
                range: {
                    'min': 0,
                    'max': 2000
                }
            });

            var inputPriceMax = document.getElementById('priceMax');
            var inputPriceMin = document.getElementById('priceMin');

            priceSlider.noUiSlider.on('update', function( values, handle ) {

                var value = values[handle];

                if ( handle ) {
                    inputPriceMax.innerHTML = value;
                } else {
                    inputPriceMin.innerHTML = value;
                }
            });

        }

        // fixed sidebar on scroll
        $.fn.fixedSidebar = function() {
            var $sidebar = this,
                    $container = $('.filter-container'),
                    $sidebarscroll = $('.fixed-scroll', $sidebar);
            // fixed markers
            var $ymin = $sidebar,
                    $ymax = $('.ymax'),
                    $fstart = $('.fstart'),
                    $fend = $('.fend'),
                    delta = 10;

            function checkFixed() {
                var scrollY = $(window).scrollTop();
                if (!$sidebar.is('.is-fixed')) {
                    if (scrollY > $ymin.offset().top) {
                        if ($fend.offset().top < $ymax.offset().top - delta) {
                            $sidebar.addClass('is-fixed');
                            if ($fend.offset().top > $ymax.offset().top) {
                                $sidebar.addClass('is-fixed-bottom');
                            }
                        }
                    }
                } else {
                    if (scrollY > $ymin.offset().top) {
                        if ($fend.offset().top > $ymax.offset().top) {
                            $sidebar.addClass('is-fixed-bottom');
                        } else {
                            if (scrollY < $fstart.offset().top) {
                                $sidebar.removeClass('is-fixed-bottom');
                            }
                        }
                    } else $sidebar.removeClass('is-fixed is-fixed-bottom');
                }

                if ($container.data('hidden')) {
                    $container.animate({'opacity':'1'}, 1000).removeData('hidden');
                }
            }

            function iniFixedSidebar() {
                if ($(window).scrollTop() > $ymin.offset().top && !$('body').data('checkstart')) {
                    $container.data('hidden', true).css({'opacity':'0'});
                    $('body').data('checkstart', true);
                } else $('body').data('checkstart', true);
                $(window).unbind('scroll.fixedsidebar');
                $sidebar.removeClass('is-fixed is-fixed-bottom');
                $container.css({'left': '','width': ''});
                var windowWidth = $(window).width(),
                        windowHeight = $(window).height();
                if (windowWidth > 991) {
                    $sidebarscroll.css({
                        'max-height': windowHeight + 'px'
                    });
                    $container.css({
                        'left': $container.offset().left + 'px',
                        'width': $container.width() + 'px'
                    });
                    if(($ymax.offset().top - $fend.offset().top) > 50 ){
                        $(window).bind('scroll.fixedsidebar', function(e) {
                            checkFixed();
                        })
                    }
                    checkFixed();
                }
            }
            if (!$('body').hasClass('touch')){
                {% if collection_left_sidebar == 1 %}
                iniFixedSidebar();
                {% endif %}
                $(window).scroll();
                {% if collection_left_sidebar == 1 %}
                $(window).bind('resize.fixedsidebar', function() {
                    setTimeout(function() {
                        iniFixedSidebar();
                    }, 2000);
                });
                {% endif %}
                // hide tooltips on scroll
                $sidebarscroll.bind('scroll', function() {
                    $('.dark-tooltip').hide();
                })
                $(window).bind('scroll', function() {
                    $('.dark-tooltip').hide();
                })
            }
        }

        $.fn.isFilters = function() {
            var $filtercol = this,
                    $filtercontent = $('.filter-col-content', this),
                    $centercol = $filtercol.next('.aside');
            if (!$filtercol.is(":visible")) $filtercol.show();
            $centercol.css({'width':'','float':''});
            if(!$filtercontent.find('.sidebar-block').length) {
                $filtercol.hide();
                $centercol.css({'width':'100%','float':'none'});
            }
        }

        $(function(){

            viewMode('.view-mode');

            $(".sidebar-block").blockSelectedMark();
            $(".sidebar-block-top").hideShopBy();
            if($(".filter-col.fixed").length){
                setTimeout(function(){
                    $(".filter-col.fixed").fixedSidebar()
                    $(".sidebar-block").blockCollapseAccordion();
                },2000);


            } else {
                $(".sidebar-block").blockCollapse();
            }

        })


    </script>
{% endif %}

{% if template contains 'page.gallery' or template contains 'product' %}
    <script>
        function getActiveIndex(){
            var current = 0;
            if($('.product-previews-carousel a.active').length){
                current = $('.product-previews-carousel a.active').index();
            }
            return current;
        }
        // create image gallery
        var galleryObj = [];
        function createImageGallery() {
            $('.product-previews-carousel img').each(function() {
                var src = $(this).parent('a').data('zoom-image'),
                        type = 'image'; // it's always an image
                image = {};
                image ["src"] = src;
                image ["type"] = type;
                galleryObj.push(image);
            });
        }

        $(function(){
            if($('.zoom-link').length) {
                $('.zoom-link').on('click', function(e){
                    if($(this).is('.disable-gallery')){
                        var msrc = $('.main-image img').attr('data-zoom-image');
                        $.magnificPopup.open({
                            items: {
                                src: msrc
                            },
                            type: 'image'
                        });
                    }
                    else {
                        getActiveIndex();
                        $.magnificPopup.open({
                            items: galleryObj,
                            gallery: {
                                enabled: true,
                            }
                        }, getActiveIndex());
                    }
                    e.preventDefault();
                });
            }
            createImageGallery();
        })
    </script>
{% endif %}

{% if template contains 'page.gallery' %}


    <script>
        $(function(){

            //magnific popup for gallery
            if($('.zoomimage').length) {
                $('.zoomimage').magnificPopup({
                    type:'image',
                    gallery:{
                        enabled:true
                    }
                });
            }
        })

        $(function(){
            var currentFilter;
            var activeStart;
            //gallery
            //gallery
            var $gallery = $('.gallery.isotope');
            $gallery.imagesLoaded(function() {
                $gallery.isotope({
                    itemSelector: '.gallery-item',
                    layoutMode: 'fitRows',
                    filter: function() {
                        var $this = $(this);
                        var filterResult = currentFilter ? $this.is( currentFilter ) : true;
                        return filterResult;
                    }
                });
            });

            //filters gallery
            $('.filters-gallery .filter-label').each(function() {
                var $this = $(this);
                if ($this.hasClass('active')){
                    activeStart = true;
                    currentFilter = $this.attr('data-filter');
                    $gallery.isotope();
                }
            });

            if (!activeStart)  $(".filters-gallery li:first-child .filter-label").addClass('active');

            $('.filters-gallery').on( 'click', '.filter-label', function(e) {
                e.preventDefault();
                var $this = $(this);
                if ($this.hasClass('active')) return false;
                else {
                    $('.filters-gallery .filter-label').removeClass('active');
                    $this.addClass('active')
                }
                currentFilter = $this.attr('data-filter');
                $gallery.isotope();
            });
        })

        $.fn.simpleFilters = function() {


            var $gallery = this,
                    $galleryitem = $(".gallery-item", $gallery),
                    $filter = $(".filters-gallery .filter-label"),
                    selectedCategory = "",
                    activeStart;

            $filter.each(function() {
                selectedCategory = $(this).attr("data-filter");
                if ($(this).hasClass('active')){
                    $galleryitem.filter(selectedCategory).fadeIn(0).addClass('isvisible');
                    activeStart = true;
                }
                else {
                    $galleryitem.fadeIn(0).addClass('isvisible');
                }
            });

            if (!activeStart)  $(".filters-gallery li:first-child .filter-label").addClass('active');

            $filter.on('click',function(e){
                e.preventDefault();
                if ($(this).hasClass('active')){
                    return false;
                }
                else {
                    $filter.removeClass('active');
                    $(this).addClass('active')
                }
                selectedCategory = $(this).attr("data-filter");
                if(!selectedCategory){
                    $galleryitem.fadeIn(0).addClass('isvisible');

                } else {
                    $galleryitem.filter(':not('+selectedCategory+')').fadeOut(0).removeClass('isvisible');
                    $galleryitem.filter(selectedCategory).fadeIn(0).addClass('isvisible');
                }
            });
        }
        if($('.gallery.simple').length){
            $('.gallery.simple').simpleFilters();
        }
    </script>

{% endif %}

{% if template contains 'product' %}

    <script>
        // product page form

        function productOptions(option) {
            var $option = $(option),
                    $optionlist = $('ul', $option),
                    $optionbtn = $('a', $optionlist),
                    $optionselect = $('select',$option);
            $optionlist.find("a[data-value='"+$optionselect.val()+"']").parent().addClass('active');
            $optionbtn.on('click', function(e){
                $this = $(this);
                if($this.data('image') && !$this.parent().hasClass('absent-option')){
                    var $image = $('.main-image img');
                    imgSrc = $this.data('image');
                    var newImg = document.createElement("img");
                    newImg.src = imgSrc;
                    newImg.onload = function () {
                        $image.attr('src', imgSrc);
                        $image.attr('data-zoom-image', imgSrc);
                        $('.main-image > .zoom').data('ezPlus').destroy();
                        $('.main-image > .zoom').initProductZoom();
                        $('.zoom-link').addClass('disable-gallery');
                    }
                }

                /*if (!$this.parent('li').is('.active')){
                 $optionselect.val($this.attr('data-value'));
                 $this.closest('ul').find('li').removeClass('active');
                 $this.parent('li').addClass('active');
                 }*/
                e.preventDefault();
            });
        }


        // tabs
        function productTab(tab) {
            var $tabs = $(tab),
                    setCurrent = false;
            $tabs.tabCollapse();
            $('a', $tabs).each(function() {
                $this = $(this);
                if ($this.parent('li').is('.active')){
                    var  curTab = $this.attr("href");
                    $(curTab).addClass('active');
                    setCurrent = true;
                }
            })
            if(!setCurrent) $('li:first-child a', $tabs).tab('show');
            $('a', $tabs).on('click', function (e) {
                var $this = $(this);
                if ($this.parent('.panel-title').length){
                    var href = $this.attr('href'),
                            posTab = $this.offset().top - $(window).scrollTop();
                    setTimeout(function() {
                        $('html, body').animate({
                            scrollTop: $this.offset().top - posTab
                        }, 0);
                    }, 0);
                    e.preventDefault();
                }
            });
        }

        // product-creative carousel
        $.fn.initCreativeZoom = function() {
            var $this = this;
            $this.ezPlus({
                zoomType: 'inner',
                cursor: 'crosshair',
                zIndex: 2,
                zoomContainerAppendTo: '.product-slider-wrapper',
                borderSize: 0,
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 0
            })
        }

        /*$(window).resize(debouncer(function(e) {
         if ($(".product-creative-slider").length) {
         // start resize events
         $('.product-slider-wrapper .zoomContainer').remove();
         initCreativeZoom();
         // end resize events
         }
         }));*/





        $(function(){
            productOptions('.product-size');
            productOptions('.product-color');
            productTab('.product-tab');
            prevnextNav('.product-nav');
            //magnific popup for gallery
            if($('.zoomimage').length) {
                $('.zoomimage').magnificPopup({
                    type:'image',
                    gallery:{
                        enabled:true
                    }
                });
            }
            //magnific popup for video
            if ($('.video-link').length) {
                $('.video-link').magnificPopup({
                    type: 'iframe',
                    mainClass: 'mfp-fade',
                    removalDelay: 160,
                    preloader: false,
                    fixedContentPos: false
                });
            }

            if ($(".product-creative-slider").length) {

                var $this = $(".product-creative-slider"),
                        arrowsplace = $this;

                $this.on('init', function(event, slick){
                    $('.product-creative-slider .inner-zoom').initCreativeZoom();
                });

                $('body').on('click', '.product-creative-slider-control button', function(e){
                    if(!$(e.target).hasClass('.slick-disabled')){
                        $('.product-slider-wrapper .zoomContainer').remove();
                        setTimeout(function() {
                            $('.product-creative-slider .inner-zoom').initCreativeZoom();
                        }, 500);
                    }
                });

                if ($this.parent().find('.product-creative-slider-control').length) {
                    arrowsplace = $this.parent().find('.product-creative-slider-control');
                }

                $this.slick({
                    rows: 1,
                    appendArrows: arrowsplace,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    speed: 500,
                    infinite: false, //not change if ez-plus is used
                    swipe: false,
                    responsive: [{
                        breakpoint: 481,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }]
                });
            }

            {% if settings.product_zoom_yes %}
            if ($(".main-image").length) {
                var $mainImage = $('.main-image');
                $mainImage.imagesLoaded(function() {
                    $('.zoom', $mainImage).initProductZoom();
                    $mainImage.css({'height': $mainImage.height()})
                });
            }
            {% endif %}

            // loading buttom
            $('.btn-loading').on('click', function() {
                var $this = $(this);
                $this.button('loading');
                setTimeout(function() {
                    $this.button('reset');
                }, 10000);
            });
            // product previews carousel
            /*if ($(".product-previews-carousel").length) {
             var $this = $(".product-previews-carousel");
             $('.product-previews-carousel').slick({
             slidesToShow: 3,
             slidesToScroll: 1,
             dots: false,
             focusOnSelect: true,
             infinite: false
             });
             $(".product-previews-carousel").on('click', '.slick-slide', function() {
             $('.zoom-link').removeClass('disable-gallery');
             })
             }*/

        })



    </script>

{% endif %}