<header class="page-header {{ header_box }} variant-5 {{ settings.sticky }} {{ settings.sticky_color }} {{ settings.sticky_behavior }} {{ dark }} {{ settings.sticky_style }}">
<div class="navbar">
        <div class="container">
            <!-- Menu Toggle -->
            <div class="menu-toggle"><a href="#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
            <!-- /Menu Toggle -->
            <!-- Header Middle Row -->
            <div class="header-middle-row">
                <div class="header-middle-left">
                    <div class="header-custom-text">
                        <div>
                            {% if settings.header_phone_1 != blank %}<span><i class="icon icon-phone"></i> {{ settings.header_phone_1 }}</span>{% endif %}
                            {% if settings.header_phone_2 != blank %}<span><i class="icon icon-phone"></i> {{ settings.header_phone_2 }}</span>{% endif %}
                        </div>
                        <div>{% if settings.header_address != blank %}{{ settings.header_address }}{% endif %}</div>
                    </div>
                </div>
                <div class="header-middle-center">
                    <div class="header-logo">
                        {% include 'header-logo' %}
                    </div>
                </div>
                <div class="header-middle-right">
                    <!-- Header Cart -->
                    {% include 'header-cart' %}
                    <!-- /Header Cart -->
                    <!-- Header Links -->
                    <div class="header-links">
                        {% include 'header-languages' %}
                        {% include 'currency-picker' %}
                        {% include 'header-login-form' %}
                    </div>
                    <!-- /Header Links -->
                </div>
            </div>
            <!-- /Header Middle Row -->
            <!-- Header Search -->
            {% include 'header-search' %}
            <!-- /Header Search -->
        </div>
        <div class="menu-wrapper">
            <div class="container">
                {% include 'mobile-nav' %}
                {% include 'megamenu-nav' %}
            </div>
        </div>
    </div>
</header>