{% if settings.newsletter_popup_yes %}
    <div class="modal fade zoom" id="newsletterModal" data-pause='1500'>
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &#10006; </button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img src="{{ 'logo-popup.png' | asset_url}}" alt="{{ shop.name }}" class="img-responsive" />
                                <h3 class="title">{{ settings.newsletter_popup_title }}</h3>
                                <p>{{ settings.newsletter_popup_desc }}</p>
                                <form action="{{ settings.newsletter_action | strip }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <input type="email" id="mce-EMAIL" name="EMAIL" class="form-control" placeholder="{{ 'general.theme.enter_email' | t }}">
                                    <button class="btn" id="mc-embedded-subscribe"  type="submit">{{ 'general.theme.subscribe' | t }}</button>
                                </form>
                                <div class="checkbox-group">
                                    <input type="checkbox" id="checkBox">
                                    <label for="checkBox"> <span class="check"></span> <span class="box"></span> {{ 'general.theme.donot_show' | t }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <script>
        $(function(){

            show_popup= $.cookie('show_popup');
            if(show_popup == null || show_popup=='enabled')
            {
                openNewsletterPopup()
            }
            $('#checkBox').change(function() {
                show_popup= $.cookie('show_popup');
                if($(this).is(":checked")) {
                    show_popup= $.cookie('show_popup','disabled',{expires:{{ settings.newsletter_popup_expires}}});
                }else
                {
                    show_popup= $.cookie('show_popup','enabled');
                }
            });


            function openNewsletterPopup(){

                if ($('#newsletterModal').length) {

                    var pause = $('#newsletterModal').attr('data-pause');
                    setTimeout(function() {
                        $('#newsletterModal').modal('show');
                    }, pause);
                }

            }


        })
    </script>
{% endif %}