{% unless template == 'cart' %}
{% if settings.product_stack %}
<!-- ProductStack -->
    {% assign t_item =  'general.theme.item' | t %}
    {% assign t_items = 'general.theme.items_c' | t %}
<div class="productStack {% if cart.items.size == 0  %}disable{% endif %} {% if settings.product_stack_hide %}hide_on_scroll{% endif %} {{ settings.product_stack_float }}-toggle">
    <a href="#" class="toggleStack"><i class="icon icon-cart"></i> (<span class="stack_count">{{ cart.item_count }}</span>) {{ cart.item_count | pluralize: t_item, t_items }}</a>
    <div class="productstack-content">
        <div class="products-list-wrapper">
            <ul class="products-list">
                {% for item in cart.items %}
                <li>
                    <a href="{{ item.url }}" title="{{ item.title }}"><img class="product-image-photo" src="{{ item | img_url: 'medium' }}" alt=""></a>
                    <span class="item-qty">{{ item.quantity }}</span>
                    <div class="actions">
                        <a class="action edit" href="#" title="{{ 'general.theme.edit_item' | t }}"><i class="icon icon-pencil"></i></a>
                        <a href="#"
                           data-variant-id="{{ item.variant_id }}" class="action delete" title="{{ 'cart.general.remove' | t }}"><i class="icon icon-trash-alt"></i></a>
                        <div class="edit-qty">
                            <input type="number" value="{{ item.quantity }}">
                            <button type="button" class="btn update_qty" data-variant-id="{{ item.variant_id }}">{{ 'general.theme.apply' | t }}</button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="action-cart">
            <a  class="btn  btn-alt" name="checkout"  title="{{ 'general.theme.go_to_checkout' | t }}" href="/checkout"> <span>{{ 'general.theme.go_to_checkout' | t }}</span> </a>
            <a  class="btn" name="checkout" title="{{ 'general.theme.view_and_edit_cart' | t }}" href="/cart"> <span>{{ 'general.theme.view_and_edit_cart' | t }}</span> </a>
        </div>
        <div class="total-cart">
            {% capture text_item_c %}{{ 'general.theme.item_c' | t }}{% endcapture %}
            {% capture text_items_c %}{{ 'general.theme.items_c' | t }}{% endcapture %}
            <div class="items-total"><span>{{ cart.item_count | pluralize: text_item_c, text_items_c }}</span> <span class="count">{{ cart.item_count }}</span></div>
            <div class="subtotal"><span>{{ 'cart.general.subtotal' | t }}</span> <span class="price">{{ cart.total_price | money }}</span></div>
        </div>
    </div>
</div>
<!-- /ProductStack -->
{% endif %}
{% endunless %}