{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

{% comment %}
  Share button styles are:
  * toRight
  * toTop
  * toBottom
{% endcomment %}

<div class="share-button {{ position }}">
  <span class="toggle">{{ title }}</span>
  {% include 'social-sharing-list' %}
</div>

