{% if settings.wishlist %}
  {% if customer %}
    {% assign value = product.id %}
    {% capture productID %}{{ product.id }}{% endcapture %}
    {% for tag in customer.tags %}
      {% capture tagID %}{{ tag }}{% endcapture %}
      {% if tagID contains productID %}
        {% capture value %}x{{ tagID }}{% endcapture %}
      {% endif %}
      {% if value.size == 0 %}{% assign value = productID %}{% endif %}
    {% endfor %}
    {% assign check = value.size | minus:productID.size | modulo:2 %}
    {% if check == 0 %}{% assign display = true %}{% else %}{% assign display = false %}{% endif %}


    {% if type_view == 'button' %}
      <a {% if display %}href="#"{% else %}href="/pages/my-wishlist"{% endif %}  {% if display %}title="Add to Wishlist"{% else %}title="{{ 'general.theme.go_to_wishlist' | t }}"{% endif %} data-email="{{ customer.email }}" data-tags="{{ value }}" class="btn btn-sm btn-invert {% if display %}add_to_wishlist{% else %}wishlist active{% endif %}" data-name="{{ product.title }}"> <i class="icon icon-heart-1"></i><div class="bg-striped"></div></a>
    {% else %}
      <a {% if display %}href="#"{% else %}href="/pages/my-wishlist"{% endif %}  {% if display %}title="Add to Wishlist"{% else %}title="{{ 'general.theme.go_to_wishlist' | t }}"{% endif %} data-email="{{ customer.email }}" data-tags="{{ value }}" class="{% if display %}add_to_wishlist{% else %}wishlist active{% endif %}" data-name="{{ product.title }}"> <i class="icon icon-heart"></i><span>{{ 'general.theme.add_to_wishlist' | t }}</span> <div class="bg-striped"></div></a>
    {% endif %}

  {% else %}

    {% if type_view == 'button' %}
      <a href="#" class="btn btn-sm btn-invert no_wishlist"><i class="icon icon-heart-1"></i></a>
    {% else %}
      <a href="#" title="{{ 'general.theme.add_to_wishlist' | t }}" class="no_wishlist"> <i class="icon icon-heart"></i><span>{{ 'general.theme.add_to_wishlist' | t }}</span> </a>
    {% endif %}
  {% endif %}
{% endif %}