{% assign miss = 'Empty Category,Ajax Attributes Filter - static,Featured Home Page,Featured products,Grid Previews Big,Header - 2,Header - 3,Header - 4,Header - 5,Header - 6,Latest,Megamenu animation - None,Megamenu animation - Slidetop,New Arrivals,New devices only,No ajax Attributes Filter,No Left column,Only New - Men,Only New - Women,Only Sale - Men,Only Sale - Women,Products per row 2,Products per row 3,Products per row 4,Products per row 5,Sale devices only' | split:',' %}

<header class="section-header">
  <h1 class="section-header__title">{{ 'collections.general.title' | t }}</h1>
</header>
<div class="categories">
  <div class="row">
    {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
    {% assign featured = collection.handle %}
    {% capture collection_title %}{{ collections[featured].title | escape }}{% endcapture %}
      {% assign flag = 0 %}
    {% for check in miss %}{% assign a = check | handle %}{% assign b = collection_title | handle %}{% if a == b %}{% assign flag = 1 %}{% endif %}{% endfor %}
    {% if flag == 0 %}
      <div class="col-xs-6 col-sm-3">
      <a href="{{ collections[featured].url }}" class="category-block">
        <div class="category-image image-hover-scale">

          {% if collections[featured].image %}
            {{ collections[featured].image.src | img_url: 'large' | img_tag: collection_title }}
          {% else %}
            {{ collections[featured].products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
          {% endif %}
        </div>
        <div class="category-title">{{ collections[featured].title | escape }}</div>
      </a>
    </div>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </div>
</div>

