{% layout none %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head' %}
  </head>
  <body class="fullwidth">
  {% include 'body_loader' %}
  <div id="wrapper">
    <!-- Page -->
    <div class="page-wrapper">
      <main class="page-main">
        <div class="block fullheight coming-soon">
          <div class="container">
            <div class="logo logo-svg">
              {% if settings.logo_svg_yes %}<a href="{{ shop.url }}" title="{{ shop.name }}">{{ settings.logo_svg_code }}</a>{% else %}{{ 'logo.png' | asset_url | img_tag | link_to:  shop.url ,shop.name}}{% endif %}
            </div>
            {% if shop.password_message and shop.password_message != '' %}
              <h3>{{ shop.password_message }}<br/><br/></h3>
            {% else %}
              <div class="title">Coming soon</div>
            {% endif %}
            <div class="countdown-squared">
              <div class="countdown-wrapper">
                <div class="countdown" data-countdown="{{ settings.coming_soon_date }}"></div>
              </div>
            </div>
            <div class="wrapper wrapper-form">

              <div class="left-col">
                {% form 'customer' %}
                <h3>{{ 'general.password_page.signup_form_heading' | t }}</h3>
                {% if form.posted_successfully? %}
                  <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
                {% else %}
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <div class="clearfix"></div>
                  <input class="form-control input-lg" type="text" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"/>
                  <button class="btn btn-lg btn-alt"  type="submit"><i class="icon icon-close-envelope"></i><span>Submit</span></button>
                {% endif %}
                <div class="text-right"><b style="color: red; ">{{ form.errors | default_errors }}</b></div>
                {% endform %}
                
              </div>
              <div class="right-col">
                {% form 'storefront_password' %}

                  <h3>Login to secret room:</h3>
                  <div class="clearfix"></div>
                  <input class="form-control input-lg" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
                  <button class="btn btn-lg" type="submit"><i class="icon icon-user"></i><span>Enter</span></button>
                {{ form.errors | default_errors }}
                {% endform %}
              </div>
              <div class="center-col"><a class="icon icon-star-fill bookmark" href="#"></a></div>
            </div>
          </div>
        </div>
      </main>

    </div>
    <!-- /Page -->
    <footer class="page-footer variant3">
      <div class="after-footer topnull">
        <div class="footer-copyright text-center"> &copy; {{ settings.copyright }} </div>
      </div>
    </footer>
  </div>
  {% include 'before_body_end' %}
  </body>
</html>