{% layout none %}
{% assign product_image_size = settings.product_image_size %}
{% assign product_options = settings.product_options %}
{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign right = settings.product_right_description_yes %}
{% if product_image_size == '6' %}{% assign right = false %}{% endif %}
{% case product_image_size %}
  {% when '3' %}
    {% assign column_1 = 'col-sm-5 col-md-3' %}
    {% assign column_2 = 'col-sm-7 col-md-9' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-3 col-lg-3' %}
        {% assign column_2 = 'col-sm-6 col-md-9 col-lg-6' %}
    {% endif %}
  {% when '4' %}
    {% assign column_1 = 'col-sm-5 col-md-4' %}
    {% assign column_2 = 'col-sm-7 col-md-8' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-4 col-lg-4' %}
        {% assign column_2 = 'col-sm-6 col-md-8 col-lg-5' %}
    {% endif %}
  {% when '5' %}
    {% assign column_1 = 'col-sm-5 col-md-5' %}
    {% assign column_2 = 'col-sm-7 col-md-7' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-5 col-lg-5' %}
        {% assign column_2 = 'col-sm-6 col-md-7 col-lg-4' %}
    {% endif %}
  {% when '6' %}
    {% assign column_1 = 'col-sm-5 col-md-6' %}
    {% assign column_2 = 'col-sm-7 col-md-6' %}
    {% if right %}
        {% assign column_1 = 'col-sm-6 col-md-6  col-lg-6' %}
        {% assign column_2 = 'col-sm-6 col-md-6  col-lg-3' %}
    {% endif %}
{% endcase  %}
{% assign column_3 = 'col-md-12 col-lg-3 hidden-quickview' %}
<div class="block product-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="modalLoader-wrapper">
                    <div class="modalLoader bg-striped"></div>
                </div>
                <!-- Product Gallery -->
                <div class="main-image text-center id_{{ product.id }}">
                    {% assign featured_image = product.featured_image %}
                    <img src="{{ product.featured_image | img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}"  class="zoom" data-zoom-image="{{ product.featured_image | img_url: '1024x1024' }}" />
                    <div class="dblclick-text"><span>Double click for enlarge</span></div>
                </div>
                {% if product.images.size > 1 %}
                    {% for image in product.images %}
                        <!--gallery buffer-->
                        <img alt="" src="{{ image.src | img_url: '1024x1024' }}" style="display: none" />
                    {% endfor %}
                    <div class="product-previews-wrapper">
                        <div class="product-previews-carousel" id="previewsGalleryQuickView">
                            {% for image in product.images %}
                                <a href="#" data-image="{{ image.src | img_url: '1024x1024' }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}"><img src="{{ image.src | img_url: 'medium' }}" alt="" /></a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- /Product Gallery -->
            </div>
            <div class="col-sm-7">
                <div class="product-info-block classic">
                    <div class="product-info-top">
                        {% if settings.product_sku and product.selected_or_first_available_variant.sku.size > 0 %}
                            <div class="product-sku">{{ 'general.theme.sku' | t }}: <span>{{ product.selected_or_first_available_variant.sku }}</span></div>
                        {% endif %}

                        {% if settings.product_rating %}
                            <div class="rating">
                                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="product-name-wrapper">
                        <h1 itemprop="name" class="product-name">{{ product.title }}</h1>
                        <div class="product-labels">
                            {% if on_sale  and settings.show_label_sale %}<span class="product-label sale">{{ 'products.product.sale' | t }}</span>{% endif %}
                            {% assign new = 0 %}
                            {% for tag in product.tags %}{% if tag == 'new' %}{% assign new = 1 %}{% endif %} {% endfor %}
                            {% if new == 1  and settings.show_label_new %}<span class="product-label new">{{ 'general.theme.new' | t }}</span>{% endif %}
                        </div>
                    </div>
                    {% if settings.product_availability %}
                        <div class="product-availability">

                            {% assign total=0 %}
                            {%for variant in product.variants %}
                                {% capture i %}{{ total | plus:variant.inventory_quantity }}{%endcapture%}
                                {% assign total = i %}
                            {%endfor%}

                            {% capture text_item %}{{ 'general.theme.item' | t }}{% endcapture %}
                            {% capture text_items %}{{ 'general.theme.items' | t }}{% endcapture %}
                            {{ 'general.theme.availability' | t }}: <span>
                                    {% if product.selected_or_first_available_variant.inventory_management == 'shopify' and product.selected_or_first_available_variant.inventory_quantity < 0 and product.selected_or_first_available_variant.inventory_policy == 'continue' %}
                                        {{ 'general.theme.pre_order' | t }}
                                    {% else %}
                                        {% if sold_out %}
                                            {{ 'products.product.sold_out' | t }}
                                        {% else %}
                                            {{ 'general.theme.in_stock' | t }}
                                        {% endif %}
                                        {% if settings.product_inventory_count %} {{ total }} {{ total  | pluralize: text_item, text_items }}{% endif %}
                                    {% endif %}
                                </span>
                        </div>
                    {% endif %}
                    {% if product.description contains '[short_description]' %}
                        <div class="product-description">
                            <p>{{ product.description  | split:"|config|" | first  | split:"[short_description]" | last | split:"[/short_description]" | first }}</p>
                        </div>
                    {% endif %}
                    {% if product.available %}
                        {% if product.description contains '[countdown]' %}
                            {% assign countdown=product.description|split:'[countdown]' %}
                            {% assign countdown=countdown[1]|split:'[/countdown]' %}
                            {% assign countdown=countdown[0] %}
                            {% if on_sale %}
                                <div class="countdown-circle">
                                    <div class="countdown-wrapper">
                                        <div class="countdown" data-countdown="{{ countdown }}"></div>
                                        <div class="countdown-text">
                                            {% assign percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by:product.compare_at_price | times: 100 | divided_by: 100 | floor  %}
                                            <div class="text1">{{ 'general.theme.discount' | t :percent:percent }}</div>
                                            <div class="text2">{{ 'general.theme.have_time_to_buy' | t }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif  %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data">
                        {% include 'product-options-form' design:'default' %}
                        {% if product.available %}
                            <div class="product-actions">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-meta">
                                            <span>{% include 'wishlist-product' %}</span>
                                        </div>
                                        {% if settings.social_sharing_products %}
                                            <div class="social">
                                                <div class="share-button toLeft">
                                                    <span class="toggle">{{ 'general.theme.share' | t }}</span>
                                                    {% include 'social-sharing-product-item' product_url:product.url, product_title:product.title %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8">

                                        <div class="price" itemprop="price" content="{{ product.price | money_without_currency }}">
                                            {% capture price %}{{ product.price | money }}{% endcapture %}
                                            {% if on_sale %}
                                                <span class="old-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                            {% endif %}
                                            <span class="special-price"> {{ product.selected_or_first_available_variant.price | money }}</span>
                                        </div>
                                        <div class="actions">
                                            {% assign link_to = false %}
                                            {% if product.description contains '[link_to]' %}
                                                {% assign link_to = true %}
                                                {% assign link_to_href = product.description | split:'[link_to]' | last | split :'[/link_to]' | first %}
                                            {% endif %}
                                            {% if link_to %}
                                                <a  class="btn btn-lg " href="{{ link_to_href }}" target="_blank"><i class="icon icon-cart"></i><span>{{ 'products.product.add_to_cart' | t }}</span></a>
                                            {% else %}
                                                <button type="submit" class="btn btn-lg add_to_cart_product_page"><i class="icon icon-cart"></i><span>{{ 'products.product.add_to_cart' | t }}</span></button>
                                            {% endif %}
                                            <a href="{{ product.url }}" target="_parent" class="btn btn-lg product-details" title="More Info"><i class="icon icon-external-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif  %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>